html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	height: 2300px;
}

header {
    background-color: black;
    color: white;
    height: 40px;
    width: auto;
	font-size: 20px;
}

.header_horizontal_list ul > li {
    margin-right: 10px;
    margin-left: 10px;
    float: right;
    padding: 11px;
}

.header_title {

    float: left;
    padding: 1px;
	margin-left: 100px;
	margin-top: 10px;
	font-weight: bold;
}

.piece_of_list:hover .vertical_box {
    display: block;
}

.piece_of_list {
    position: relative;
}
.vertical_box ul li {
    float: none;
    padding: 1px;
}

.vertical_box {
    background-color: black;
    height: 110px;
    width: 140px;
    display: none;
    position: absolute;
	margin-top: 40px;
	left: -10px;
}

.color {
	color: #24BA9F;
}

cardboard {
    font-family: 'Raleway', sans-serif;
}

.cardboard_header {
    font-size: 35px;
    margin: 50px 0 0 70px;
}

.cardboard_talk {
    position: relative;
}

.talk_question {
    font-size: 35px;
    color: lightgray;
    margin: 55px 50px  0 70px;
    display: inline-block;
}

.talk_info {
    font-size: 20px;
    color: #F9BCBC;
    display: inline-block;

}

.talk_ok {
    display: inline-block;
    position: absolute;
    top: 60px;
    margin-left: 130px;
}

.talk_yes {
    display: inline-block;
    position: absolute;
    top: 140px;
    margin-left: 245px;
}

#talk_road {
    margin-left: 190px;
}

#talk_distance {
    margin-left: 305px;
}

#talk_way {
    margin-left: 200px;
}

.block {
    display: block;
}

.send_message {
    font-size: 32px;
    background-color: #24BA9F;
    width: 150px;
    height: 20px;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin: 300px 0 0 70px;
}

.send_info {
    color: gray;
    display: inline-block;
    margin: 300px 0 0 20px;
}

.footer_infos {
	margin-top: 700px;
}

.footer_rights {
	color: gray;
	float: left;
	margin-left: 70px;
}

.footer_main_logo {
	color: gray;
	float: right;
	font-size: 18px;
	padding: 12px;
	margin-right: 80px;
}

.footer_logos {
	float: right;
	margin-right: 25px;
}

.logo_bold {
	font-weight: bold;
}
