html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	height: 2300px;
	font-family: 'Raleway', sans-serif;
}

header {
    background-color: black;
    color: white;
    height: 40px;
    width: auto;
	font-size: 20px;
}

.header_horizontal_list ul > li {
    margin-right: 10px;
    margin-left: 10px;
    float: right;
    padding: 11px;
}

.header_title {

    float: left;
    padding: 1px;
	margin-left: 100px;
	margin-top: 10px;
	font-weight: bold;
}

.piece_of_list:hover .vertical_box {
    display: block;
}

.piece_of_list {
    position: relative;
}
.vertical_box ul li {
    float: none;
    padding: 1px;
}

.vertical_box {
    background-color: black;
    height: 110px;
    width: 140px;
    display: none;
    position: absolute;
	margin-top: 40px;
	left: -10px;
}

.color {
	color: #24BA9F;
}

bin {
	width: 800px;
	height: 900px;
	font-family: 'Raleway', sans-serif;
	border-bottom: 1px solid #24BA9F;
}

.bin_header {
	font-size: 50px;
	padding: 90px 0 30px 70px;
}

.bin_live {
	width: 800px;
	height: 90px;
	background-color: #24BA9F;
	margin-left: 70px;
	padding-top: 10px;
}

.live_header {
	float: left;
	color: white;
	padding: 20px 10px 15px 60px;
}

.live_info {
	width: 750px;
	height: 330px;
	padding: 0 30px 0 72px;

}

.header_size {
	font-size: 45px;
	padding: 30px 10px 30px 30px;

}

.header_scale {
	font-size: 28px;
	margin-top: 25px;
}

.header_dimension {
	font-size: 20px;
	margin-top: 25px;
}

#scale_padding {
	position: absolute;
	top: 230px;
	left: 320px;
}

#scale_interior {
	position: absolute;
	top: 688px;
	left: 365px;
}

#scale_inside {
	position: absolute;
	top: 790px;
	left: 445px;
}

.end {
	border: 1px solid #24BA9F;
	margin-top: 200px;
	width: 800px;
	margin: 200px 0 0 70px;
}

.footer_infos {
	margin-top: 500px;
}

.live_index {
	width:0px;
height:0px;
border-right:20px solid transparent;
border-left:20px solid transparent;
border-top:30px solid white;
margin-left: 730px;
margin: 25px 0 0 730px;
}

.footer_rights {
	color: gray;
	float: left;
	margin-left: 70px;
}

.footer_main_logo {
	color: gray;
	float: right;
	font-size: 18px;
	padding: 12px;
	margin-right: 80px;
}

.footer_logos {
	float: right;
	margin-right: 25px;
}

.logo_bold {
	font-weight: bold;
}
