html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*

BODY

*/

body {
    font-family: 'Raleway', Tahoma, sans-serif;
    width: 1200px;
}
.color {
    color: #24BA9F;
}

/*

HEADER

*/

header {
    background-color: black;
    color: white;
    height: 40px;
    font-size: 18px;
}
.header_title {
    float: left;
    font-weight: bold;
    padding: 1px;
    margin: 11px 1px 1px 101px;
}
.header_horizontal_list ul > li {
    float: right;
    margin: 11px 20px 0 30px;
}
.piece_of_list {
    position: relative;
}
.vertical_list {
    position: absolute;
    background-color: black;
    height: 110px;
    width: 150px;
    top: 50px;
    left: -10px;
    z-index: 1;
}
.hidden_list {
    display: none;
}
#list_triangle {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: 105px;
    right: 85px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid black;
    z-index: 1;
}
.vertical_list ul li {
    float: none;
    padding: 1px;
}
.a_href {
    text-decoration: none;
    color: white;
}
.a_other_color {
    text-decoration: none;
    color: #24BA9F;
}

/*

SECTION1

*/

.box {
    position: relative;
    height: 500px;
    z-index: 0;
}
.slide_box {
    height: 500px;
    rgba(246, 41, 12, 1)), color-stop(0%, rgba(240, 47, 23, 1)), color-stop(0%, rgba(250, 250, 250, 1)), color-stop(100%, rgba(209, 208, 214, 1)));
    background: -webkit-linear-gradient(top, rgba(246, 41, 12, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(250, 250, 250, 1) 0%, rgba(209, 208, 214, 1) 100%);
    background: -o-linear-gradient(top, rgba(246, 41, 12, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(250, 250, 250, 1) 0%, rgba(209, 208, 214, 1) 100%);
    background: -ms-linear-gradient(top, rgba(246, 41, 12, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(250, 250, 250, 1) 0%, rgba(209, 208, 214, 1) 100%);
    background: linear-gradient(to bottom, rgba(246, 41, 12, 1) 0%, rgba(240, 47, 23, 1) 0%, rgba(250, 250, 250, 1) 0%, rgba(209, 208, 214, 1) 100%);
}
.icon_box {
    position: absolute;
    width: auto;
    height: 400px;
    margin: 50px 0 30px 100px;
    z-index: 1;
}
.text_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    top: 110px;
    right: 180px;
    z-index: 1;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    z-index: 1;
}
.info_box {
    text-align: center;
    width: 400px;
    height: 80px;
    margin-top: 30px;
    z-index: 1;
}
.more_box {
    text-align: center;
    background-color: #24BA9F;
    color: white;
    width: 250px;
    padding: 15px;
    margin-top: 30px;
    font-size: 25px;
    border-radius: 15px;
    z-index: 1;
}
.left_slyder_button {
    position: absolute;
    color: #24BA9F;
    left: 100px;
    top: 200px;
    font-size: 100px;
    z-index: 1;
}
.right_slyder_button {
    position: absolute;
    color: #24BA9F;
    right: 100px;
    top: 200px;
    font-size: 100px;
    z-index: 1;
}
.slider {
    position: absolute;
    visibility: hidden;
    height: 500px;
    width: 100%;
}
.visibility {
    visibility: visible;
}

/*

SECTION2

*/

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 360px;
}
.container_bag {
    width: 331px;
    height: 227px;
    margin: 15px 0 70px 50px;
}
.photo_begin_container {
    position: relative;
    border: 1px solid lightgray;
    z-index: 0;
}
.opacity_container {
    position: absolute;
    background-color: rgba(255, 255, 255, .4);
    width: 331px;
    height: 50px;
    top: 760px;
    z-index: 1;
}
.position_opacity {
    left: 66px;
}
.hidden_opacity {
    display: none;
}
.opacity_text {
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.photo_end_container {
    position: relative;
    border: 1px solid lightgray;
}
.building_opacity {
    left: 447px;
}
.opacity_text::after {
    content: "";
    display: block;
    background-color: #24BA9F;
    width: 170px;
    height: 6px;
}
.text_container {
    position: relative;
    width: 350px;
    height: 300px;
    margin: 10px 30px 30px 25px;
    border: 1px solid lightgray;
}
.text_container p {
    position: absolute;
    display: block;
    top: 60px;
    left: 15px;
    padding-right: 15px;
}
.header_container {
    position: absolute;
    display: block;
    font-weight: bold;
    top: 20px;
    left: 15px;
}
.header_container::after {
    content: "";
    display: block;
    background-color: #24BA9F;
    width: 110px;
    height: 6px;
}

/*

SECTION3

*/

.chest {
    background-color: #F1F1F1;
    height: 700px;
}
.header_chest {
    position: relative;
    display: block;
    font-weight: bold;
    top: 30px;
    left: 65px;
    font-size: 22px;
}
.header_chest::after {
    content: "";
    display: block;
    background-color: #24BA9F;
    width: 350px;
    height: 6px;
}
.chest_main_bin {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #F1F1F1;
    height: 600px;
    margin-top: 60px;
}

/*
PIERWSZY DIV Z CENAMI
*/

.chest_bin {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 500px;
    margin: 0 5px 60px 5px;
}
.rest_bin {
    background-color: white;
    border: 3px solid lightgray;
}
.icon_bin {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 485px;
    left: 150px;
    border-radius: 100%;
}
.art_bin {
    background-color: lightgray;
    border: 12px solid white;
    box-shadow: 0px 0px 0px 3px lightgray;
}
.info_bin {
    position: relative;
}
.info_plan {
    font-weight: bold;
    padding: 50px;
    font-size: 22px;
}
.plan_many {
    color: #24BA9F;
}
.info_price {
    position: absolute;
    font-weight: bold;
    background-color: white;
    width: 170px;
    height: 170px;
    top: 90px;
    left: 90px;
    border: 1px solid lightgray;
    border-radius: 100%;
}
.price_light {
    color: lightgray;
}
.price_height {
    margin-top: 40px;
    font-size: 60px;
}
.price_upper {
    position: absolute;
    font-size: 15px;
}
.price_time {
    margin-top: 15px;
    font-size: 15px;
}
.margin_bin {
    margin-top: 150px;
}
.info_paint {
    background-color: #E4E4E4;
    color: gray;
    padding: 13px;
}
.info_express {
    background-color: #F1F1F1;
    color: black;
    padding: 13px;
}
.join_bin {
    position: absolute;
    background-color: #24BA9F;
    color: white;
    width: 160px;
    top: 450px;
    left: 90px;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
}

/*
DRUGI DIV Z CENAMI
*/

.add_bin {
    background-color: #24BA9F;
    border: 3px solid #24BA9F;
}
.symbol_bin {
    background-color: white;
    border: 12px solid #24BA9F;
    box-shadow: 0px 0px 0px 3px #24BA9F;
}
.plan_more {
    color: white;
}
.price_color {
    color: #24BA9F;
}
.info_show {
    background-color: white;
    color: gray;
    padding: 13px;
}
.info_describe {
    background-color: #F1F1F1;
    color: gray;
    padding: 13px;
}
.observe_bin {
    position: absolute;
    background-color: white;
    color: #24BA9F;
    width: 160px;
    height: 20px;
    top: 450px;
    left: 90px;
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
}

/*
TRZECI DIV Z CENAMI
*/

.option_bin {
    background-color: white;
    border: 3px solid lightgray;
}
.logo_bin {
    background-color: lightgray;
    border: 12px solid white;
    box-shadow: 0px 0px 0px 3px lightgray;
}
.plan_the_most {
    color: #24BA9F;
}

/*

SECTION4

*/

.application {
    font-family: Arial, Verdana, sans-serif;
    background-color: white;
    width: 100%;
    padding: 30px 0;
    margin: 0;
}
.main_width {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inline header {
    background-color: white;
}
.application h3 {
    background-color: white;
    color: #575757;
    font-size: 18px;
}
.application header.align_right {
    text-align: right;
}
.inline {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 14px;
}
.form {
    margin-top: 50px;
}
.drop_down_list {
    position: relative;
    background-color: white;
    width: 280px;
    height: 38px;
    padding: 8px 12px;
    margin-top: 22px;
    border: 1px solid #8de0d2;
}
.list_label {
    font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
    color: #e2e2e2;
    font-size: 30px;
}
.checkbox {
    position: relative;
    padding: 30px 30px 30px 0;
}
.checkbox input {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 48px;
    height: 48px;
    opacity: 0;
}
.checkbox label {
    position: relative;
    display: block;
    cursor: pointer;
    color: #cecece;
    padding: 10px 0 0 65px;
    font-size: 28px;
    line-height: 120%;
}
.checkbox label::before, .checkbox label::after {
    content: "";
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    border: 1px solid #27c7ab;
}
.checkbox label::after {
    display: none;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
}
.checkbox input:checked+ label::after {
    display: block;
}
.active {
    background: url('../images/form_ok.jpg');
    width: 48px;
    height: 40px;
}
.inline_text {
    display: inline-block;
    vertical-align: top;
    color: #aeaeae;
    width: 228px;
    margin: 30px 0 0 15px;
}
.image_part img {
    margin: 110px 0 0 38px;
}
.application .green_bell {
    display: inline-block;
    background-color: #24baa0;
    width: 280px;
    height: 6px;
    margin: 5px 0 5px 0;
}
.summary_panel {
    background-color: white;
    width: 100%;
    height: 195px;
    padding: 10px;
    margin-top: 50px;
}
.application .green_button {
    font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #27c7ab;
    color: white;
    width: 200px;
    padding: 10px 30px;
    margin: 20px 0 0 29px;
    font-size: 24px;
    border-radius: 8px;
}
.panel_left {
    display: inline-block;
    vertical-align: top;
    width: 185px;
    height: 135px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}
.panel_right {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 100px;
    height: 135px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.panel_left h4, .panel_right h4 {
    color: #24baa0;
    font-size: 23px;
}
.panel_left span {
    display: block;
    color: #5b5a5a;
    margin-top: 10px;
    font-size: 22px;
}
.panel_right span {
    display: block;
    color: #24baa0;
    margin-top: 10px;
    font-size: 22px;
}
.sum_label {
    display: inline-block;
    color: #5b5a5a;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
}
.sum {
    display: inline-block;
    text-align: right;
    color: #24baa0;
    width: 100px;
    margin-top: 10px;
    font-size: 22px;
}
.list_arrow {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 0;
    height: 0;
    top: 20px;
    right: 14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #24baa0;
}
.list_panel {
    position: absolute;
    display: none;
    list-style: none;
    background-color: white;
    width: 288px;
    top: 54px;
    left: 0;
    margin: 0;
    padding: 0 0 10px 15px;
    border: 1px solid #ccc;
    z-index: 2;
}
.visible_panel {
    display: block;
}
.list_panel li {
    cursor: pointer;
    color: #585858;
    margin-top: 10px;
}
.title {
    height: 30px;
}

/*

FOOTER

*/

footer {
    height: 700px;
    display: flex;
    flex-direction: column;

}
.footer_header {
    display: block;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 65px;
    font-size: 22px;
}
.footer_header::after {
    content: "";
    display: block;
    background-color: #24BA9F;
    width: 350px;
    height: 6px;
}
.footer_news {
    height: 500px;
    display: block;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}
.footer_data {
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 450px;
    margin-top: 50px;
    margin-left: 60px;
}
.data_size {
    display: block;
    width: 660px;
}
.data_name {
    margin-top: 20px;
}
.data_email {
    margin-top: 30px;
}
.data_message {
    height: 60px;
    margin-top: 30px;
}
#position_name {
    color: lightgray;
    width: 700px;
    height: 70px;
    padding-left: 5px;
    border: 1px solid #24BA9F;
    font-size: 30px;
}
#position_email {
    color: lightgray;
    width: 700px;
    height: 70px;
    padding-left: 5px;
    border: 1px solid #24BA9F;
    font-size: 30px;
}
#position_message {
    color: lightgray;
    width: 700px;
    height: 170px;
    padding-left: 5px;
    border: 1px solid #24BA9F;
    font-size: 30px;
}
.footer_confirm {
    display: inline-block;
    width: 400px;
    height: 450px;
    margin-top: 40px;
    margin-left: 40px;
}
.confirm_sit {
    margin-left: 60px;
}
.confirm_allow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}
.confirm_allow div {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 20px;
}
.confirm_allow div div {
    display: flex;
    flex-direction: column;
    height: 52px;
}
.allow_icon {
    float: left;
    width: 50px;
    height: 50px;
    margin: 30px 0 0 30px;
    border-radius: 2px;
    border: 1px solid #24BA9F;
}
.allow_text {
    display: block;
    float: left;
    color: gray;
    font-size: 20px;
    margin: 9px 0 0 3px;
}
.confirm_send {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #24BA9F;
    color: white;
    width: 200px;
    padding: 0 60px;
    margin: 0 0 50px 30px;
    border-radius: 10px;
    font-size: 40px;
}
.confirm_send a {
    width: 185px;
    height: 52px;
    margin-top: 8px;
}
.footer_infos {
    display: block;
    width: 1150px;
    height: 50px;
    margin-top: 600px;
    margin-left: 60px;
}
.footer_rights {
    float: left;
    color: gray;
}
.footer_main_logo {
    position: relative;
    float: right;
    color: gray;
    padding: 12px;
    font-size: 18px;
}
.logo_bold {
    font-weight: bold;
}
.footer_logos {
    float: right;
    margin-right: 25px;
}
